# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
build/
snowmatching/DTW/DTW_CCore.c

# Translations
*.mo
*.pot

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.egg-info

## Editors:
*.bak
*.sav
*.backup
.*.swp
*~
